<link rel="shortcut icon" href="">
<title>Vision Dashboard</title>

<link rel="stylesheet" href="assets/js/bower_components/nvd3/build/nv.d3.css"/>
<link href="assets/css/custom.css" rel="stylesheet">
<div id="default-scheme">
    <aside>
        <div id="sidebar" class="nav-collapse md-box-shadowed">
            <div class="leftside-navigation leftside-navigation-scroll">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="sidebar-profile">
                        <div class="profile-options-container">
                            <p class="text-right profile-options">
                                <span class="profile-options-close pe-7s-close fa-2x font-bold"></span>
                            </p>
                            <div class="profile-options-list animated zoomIn" ng-controller="LoginController as vm">
                                <p><a ng-click="vm.logout()">Log Out</a></p>
                            </div>
                        </div>
                        <div class="profile-main">
                            <p class="text-right profile-options">
                                <i class="profile-options-open icon-options-vertical fa-2x"></i>
                            </p>
                            <p>
                                <span class="name">{{$root.globals.currentUser.name}}</span><br>
                                <span class="position" style="font-family: monospace;">{{$root.globals.currentUser.role}}</span>
                            </p>
                        </div>
                    </li>
                    <li class='sub-menu'> <!--ng-if="$root.IsManager ">-->
                        <a ui-sref='.replenishment' class="hvr-bounce-to-right-sidebar-parent">
                            <span class='icon-sidebar icon-screen-desktop fa-2x'></span>
                            <span>Replenishment</span>
                        </a>
                    </li>
                    <li class='sub-menu'> <!--ng-if="$root.IsManager ">-->
                        <a ui-sref='.loyalty' class="hvr-bounce-to-right-sidebar-parent">
                            <span class='icon-sidebar icon-screen-desktop fa-2x'></span>
                            <span>Loyalty</span>
                        </a>
                    </li>
                    <li class='sub-menu'> <!--ng-if="$root.IsManager ">-->
                        <a ui-sref='.fittingRoom' class="hvr-bounce-to-right-sidebar-parent">
                            <span class='icon-sidebar icon-screen-desktop fa-2x'></span>
                            <span>Fitting Room</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <section id="container">
        <header class="header fixed-top clearfix">
            <div class="brand">
                <a class="logo" style="text-align: center">

                </a>
            </div>
            <div class="top-nav" ng-controller="LoginController as vm">
                <ul class="nav navbar-nav navbar-left" style="margin-left:30px;">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a ng-click="vm.logout()" class="hvr-bounce-to-right"><i class=" icon-login pull-right"></i>Log Out</a>
                    </li>
                </ul>
            </div>
        </header>
        <div ui-view></div>
    </section>
    </section>
    <!--<script src="assets/js/global-plugins.js"></script>-->
</div>
</html>

